<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<!-- Define targets -->
	<targets>
		<!-- Log to the console -->
		<target name="console" xsi:type="Console" layout="${longdate}|${message}" />
		<!-- Log to a file -->
		<target name="fileTarget" xsi:type="File" fileName="C:\logs\mylog.txt" layout="${longdate} ${level:uppercase=true} ${message}" />
	</targets>

	<!-- Define rules -->
	<rules>
		<!-- All messages with a minimum log level of Debug or higher are written to the Console -->
		<logger name="*" minlevel="Debug" writeTo="console" />
		<!-- All messages with a minimum log level of Trace are written to the file -->
		<logger name="*" minlevel="Trace" writeTo="fileTarget" />
	</rules>
</nlog>
